<div id="splash" ng-controller="userController">
	<div id="splash-header" class="header-bar">
		<div class="page-align">
			<a ui-sref="splash" id="splash-logo"></a>
			<form id="splash-login" action="/login" method="post">
				<div style="height: 50px">
					<input type="text" class="input-md splash-login-element" placeholder="Username or Email" name="username">
					<input type="password" class="input-md splash-login-element" placeholder="Password" name="password">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>
	</div>
	
	<div id="splash-body">
		<div class="page-align">
			<div id="splash-description">
				<h1>What is Project Inspire?</h1>
				<h2>Ever get tired of flipping through pictures of your media-whore friends with their babies and dogs? Project Inspire is a step away from social numbing and towards social inspiration.</h2>
			</div>
			<form id="splash-signup">
				<h1>Don't have an account? Sign up!</h1>
				<input type="text" class="input-lg" placeholder="Full Name" ng-model="formData.fullname">
				<div class="signup-error">{{message0}}</div>
				<input type="text" class="input-lg" placeholder="Email" ng-model="formData.email">
				<div class="signup-error">{{message1}}</div>
				<input type="text" class="input-lg" placeholder="Username" ng-model="formData.username">
				<div class="signup-error">{{message2}}</div>
				<input type="password" class="input-lg" placeholder="Password" ng-model="formData.password">
				<div class="signup-error">{{message3}}</div>
				<button type="submit" id="signup-button" class="btn btn-primary" ng-click="addUser()">Create your account.</button>
			</form>
		</div>
	</div>
</div>